In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
def get_results():
  file = "results.json"
  path = '../dataset/'+file
  results = pd.read_json(path, orient='index',encoding = 'utf-8')
  # dataset = pd.read_json(path, orient='split',encoding = 'utf-8')
  # dataset.reset_index(inplace=True)
  return results

In [3]:
def get_survey():
  file = "survey.json"
  path = '../dataset/'+file
  survey = pd.read_json(path, orient='index',encoding = 'utf-8')
  # dataset = pd.read_json(path, orient='split',encoding = 'utf-8')
  # dataset.reset_index(inplace=True)
  return survey

In [4]:
def get_resultado():
  path = '../fuente/resultado_encuesta.csv'
  result = pd.read_csv(path, encoding = 'utf-8', sep=',')
  return result

In [23]:
def get_datos_universidades():
  path = '../fuente/DetProgramas_data.csv'
  universidades = pd.read_csv(path, encoding = 'utf_16', sep='\t')
  return universidades

In [22]:
from charset_normalizer import from_path

results = from_path('../fuente/DetProgramas_data.csv')

results.best()

In [24]:
uni = get_datos_universidades()
uni

,UNIVERSIDAD,TIPO DE GESTIÓN,NIVEL PROGRAMA,FAMILIA DE CARRERAS,PROGRAMAS DE ESTUDIO,Dim Sexo.Desc Sexo,Cant Estudiantes
0,ASOCIACIÓN CIVIL UNIVERSIDAD CATÓLICA DE TRUJI...,PRIVADA ASOCIATIVA,PREGRADO,CIENCIAS ADMINISTRATIVAS Y COMERCIALES,ADMINISTRACIÓN TURÍSTICA,FEMENINO,12
1,ASOCIACIÓN CIVIL UNIVERSIDAD CATÓLICA DE TRUJI...,PRIVADA ASOCIATIVA,PREGRADO,CIENCIAS ADMINISTRATIVAS Y COMERCIALES,ADMINISTRACIÓN,FEMENINO,88
2,ASOCIACIÓN CIVIL UNIVERSIDAD CATÓLICA DE TRUJI...,PRIVADA ASOCIATIVA,PREGRADO,CIENCIAS ADMINISTRATIVAS Y COMERCIALES,ADMINISTRACIÓN TURÍSTICA,MASCULINO,2
3,ASOCIACIÓN CIVIL UNIVERSIDAD CATÓLICA DE TRUJI...,PRIVADA ASOCIATIVA,PREGRADO,CIENCIAS ADMINISTRATIVAS Y COMERCIALES,ADMINISTRACIÓN,MASCULINO,40
4,ASOCIACIÓN CIVIL UNIVERSIDAD CATÓLICA DE TRUJI...,PRIVADA ASOCIATIVA,PREGRADO,CIENCIAS DE LA COMUNICACION,CIENCIAS DE LA COMUNICACIÓN,FEMENINO,12
...,...,...,...,...,...,...,...
3059,UNIVERSIDAD TECNOLÓGICA DE LOS ANDES,PRIVADA ASOCIATIVA,PREGRADO,INGENIERIA DE SISTEMAS Y TELECOMUNICACIONES,INGENIERIA DE SISTEMAS E INFORMATICA,MASCULINO,113
3060,UNIVERSIDAD TECNOLÓGICA DE LOS ANDES,PRIVADA ASOCIATIVA,PREGRADO,OTRAS CARRERAS DE EDUCACION,EDUCACION,FEMENINO,75
3061,UNIVERSIDAD TECNOLÓGICA DE LOS ANDES,PRIVADA ASOCIATIVA,PREGRADO,OTRAS CARRERAS DE EDUCACION,EDUCACION,MASCULINO,20
3062,UNIVERSIDAD TECNOLÓGICA DE LOS ANDES,PRIVADA ASOCIATIVA,PREGRADO,OTRAS INGENIERIAS,INGENIERIA AMBIENTAL Y RECURSOS NATURALES,FEMENINO,196
3063,UNIVERSIDAD TECNOLÓGICA DE LOS ANDES,PRIVADA ASOCIATIVA,PREGRADO,OTRAS INGENIERIAS,INGENIERIA AMBIENTAL Y RECURSOS NATURALES,MASCULINO,277

In [16]:
tabla = get_resultado()
tabla

  index  agrado  indiferente  desagrado  total
0  ital       9            4          2     15
1    im       6            6          2     14
2   tei       6            6          2     14

In [25]:
result = get_results()
result.reset_index(inplace=True)
result.loc[result['index'] == 'ital']

,index,description,content,careers,author
2,ital,Intereses para el trabajo al Aire Libre,Te gusta realizar trabajos que tengan que ver ...,"[Oficial de las Fuerzas Armadas o Policiales, ...",NaN

In [41]:
result['careers'].loc[result['index'] == 'ital'].values[0]

['Oficial de las Fuerzas Armadas o Policiales',
 'Ingeniería Agrícola',
 'Ingeniería Agroindustrial',
 'Agronomía',
 'Economía',
 'Economía Agraria y Agrícola',
 'Ingeniería Forestal',
 'Ingeniería Pesquera',
 'Pesquería',
 'Zootecnia',
 'Ingeniería Civil (de carreteras, ferrocarriles, puentes, represas, etc)',
 'Medicina Veterinaria',
 'Arquitectura (especialmente paisajista)']

In [10]:
result.content['note']

'Además de este reporte, es importante que busques mayor información de tu interés vocacional seleccionado, de igual forma de las diferentes profesiones que aquí se mencionan.  Así, en el momento de escoger tu carrera tendrás más datos posibles y podrás realizar una mejor elección profesional'

In [11]:
survey = get_survey()
survey

,description,q1,q2,q3,q4,q5,q6,q7
im,Intereses Mecánicos,Revisar televisores.,Armar rompecabezas.,Construir edificios.,Diseñar maquinas industriales.,Imaginar figuras en varias dimensiones.,Idear aparatos de laboratorio.,Armar modelos de aviones y de barcos en miniat...
tei,"Intereses en la Técnica, Electrónica e Ingeniería",Diseñar automóviles.,Controlar hornos para fundir metales.,Programar vuelos aeronáuticos.,Hacer conexiones eléctricas en un edificio.,Probar equipos de rayos X.,Pensar sobre el origen del tiempo.,Dibujar mapas de suelos.
ital,Intereses para el trabajo al Aire Libre,Manejar obreros en una construcción.,Estudiar y clasificar plantas.,Dirigir un ejercito.,Enseñar educación física.,Organizar una granja.,Curar animales.,Manejar las relaciones públicas de una empresa.
ic,Intereses Científicos,Mirar a través de microscopios y/o telescopios.,Frecuentar las bibliotecas.,Observar el comportamiento de la gente.,Imaginar relaciones entre las cosas.,Hacer combinaciones de sustancias.,Estudiar los vientos y las mareas.,Controlar la calidad de un producto.

In [12]:
type(survey["q3"]["im"])

str

In [13]:
if math.isnan(survey["q3"]["im"]):
  print(True)
else:
  print(False)

TypeError: must be real number, not str

In [ ]:
indice = survey.index[0]
survey.loc[indice][0]

'Intereses Mecánicos'

In [ ]:
survey.q6['dse']

'Organizar las actividades académicas de un plantel educativo.'

In [ ]:
areas=['ml','ic']
preguntas = ['q1', 'q2']
alternativas= ['agrado','indiferente','desagrado']

data=[]
for area in areas:
    for pregunta in preguntas:
        for i, alternativa in enumerate(alternativas):
            item = {area+"_"+pregunta+"_"+alternativa: i}
            data.append(item)
print(data)

[{'ml_q1_agrado': 0}, {'ml_q1_indiferente': 1}, {'ml_q1_desagrado': 2}, {'ml_q2_agrado': 0}, {'ml_q2_indiferente': 1}, {'ml_q2_desagrado': 2}, {'ic_q1_agrado': 0}, {'ic_q1_indiferente': 1}, {'ic_q1_desagrado': 2}, {'ic_q2_agrado': 0}, {'ic_q2_indiferente': 1}, {'ic_q2_desagrado': 2}]

In [ ]:
list(survey.index[:2])

['im', 'tei']

In [ ]:
survey['q1']['im']

'Revisar televisores.'

In [ ]:
survey.columns[1:]

Index(['q1', 'q2', 'q3', 'q4', 'q5', 'q6', 'q7'], dtype='object')